body {
	background-color: black;
	padding: 0
}
h1 {
	color: gold;
	font-family: "Helvetica", sans-serif;
}
h2 {
	color: goldenrod;
	font-family: "Helvetica", sans-serif;
}
h3 {
	color: chocolate;
	font-family: "Helvetica", sans-serif;
}
h4, h5 {
	color: coral;
	font-family: "Helvetica", sans-serif;
}
a {
	color: darkviolet;
	font-family: "Verdana", sans-serif;
}
p {
	color: deeppink;
	font-family: "Verdana", sans-serif;
	font-size: 90%;
}

